*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/openCVTutorial3CameraControl
/openCVLibrary320
/faceRecognition/build
/faceRecognition/.externalNativebuild
/faceRecognition/faceRecognition.iml


